@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/node-waves/src/sass/waves";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins";
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid";

@import "./waves";
@import "./menu";
@import "./input";
@import "./table";
@import "./spinner";

* {
  box-sizing: border-box;
}

$primary-color: #FFC107;
$secondary-color: #009688;
$primary-text-color: rgba(0, 0, 0, .85);
$secondary-text-color: rgba(255, 255, 255, 0.85);
$text-color: rgba(0, 0, 0, 0.85);

.button,
.button:hover,
.button:visited {
	@include waves-transform(translateZ(0));
    -webkit-mask-image: -webkit-radial-gradient(circle, white 100%, black 100%);
	white-space: nowrap;
    vertical-align: middle;
    border: none;
    outline: none;
    color: inherit;
    background-color: rgba(0, 0, 0, 0);
    font-size: 1em;
    line-height:1em;
    text: {
    	align: center;
    	decoration: none;
    	transform: uppercase;
    }
    z-index: 1;
	background-color: transparent;

	padding: .85em 1.1em;
	color: $text-color;
	border-radius: 0.2em;
	&.enabled {
		cursor: pointer;
	}
	&.primary {
		color: $primary-color;
	}
	&.secondary {
		color: $secondary-color;
	}
	&.disabled {
		color: rgba(0, 0, 0, 0.35);
	}
	&.raised {
	    -webkit-mask-image: none;
    	@include waves-box-shadow(0px 1px 1.5px 1px rgba(0, 0, 0, 0.12));
    	@include waves-transition(all 300ms);

    	&:active {
        	@include waves-box-shadow(0px 8px 20px 1px rgba(0, 0, 0, 0.30));
    	}

		&.disabled {
			background-color: rgba(0, 0, 0, 0.12);
		}

		&.primary {
			color: $primary-text-color;
			background-color: $primary-color;
		}

		&.secondary {
			color: $secondary-text-color;
			background-color: $secondary-color;
		}
	}
}
